<template name="layout">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>PitchPaint</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="bootstrap-overrides">

      <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="{{pathFor 'homeScreen' }}" class="brand-logo">PitchPaint</a></div>
              
              <ul id="" class="right hide-on-med-and-down">
                <li><div class="new-track-btn-container"> 
                  <a href="{{pathFor 'newCanvas' }}" title="New Sketch" class="login-btn right waves-effect waves-light btn">New Drawing</a>
                </div></li>
                <li><div class="new-track-btn-container">
                  <a href="{{pathFor 'showAll'}}" class="login-btn right waves-effect waves-light btn">Your Drawings</a>
                </div></li>
    
                  <li>{{> atNavButton}}</li>
              
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
      	{{> Template.dynamic template=main}}
        
  </body>
</template>

<template name="mobileLayout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>PitchPaint</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="bootstrap-overrides">

      <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="{{pathFor 'homeScreen' }}" class="brand-logo">PitchPaint</a></div>
            </div>
          </div>
        </nav>
      </div>

      <ul class="no-margin">
        <li>
          <a href="{{pathFor 'newCanvas' }}" title="New Sketch" class="block login-btn waves-effect waves-light btn">New Drawing</a>
        </li>
        <li>
          <a href="" class="block login-btn waves-effect waves-light btn">Search Drawings</a>
        </li>

          <li><a href="" class="background block login-btn waves-effect waves-light btn">{{> atNavButton}}</a></li>
      </ul>

      {{> Template.dynamic template=main}}
      
</body>
</template>

<template name="mobileIndex">
    <div class="valign">
        <div class="section no-pad-bot">
          
            <div class="row center">
              <h5 class="header col s12 mobile_welcome left-align">Create paintings that get transformed into music.</h5>
            </div>
          
         
            <div class="row center">
              <h6 class="header col s12 mobile_welcome left-align">PitchPaint takes your drawings and transforms them into musical tracks based on your musical and artistic vision.</h6>
            </div>
          
        </div>
      </div>
</template>


<template name="index">
	
      <div class="valign">
        <div class="section no-pad-bot">
          <div class="big_header_container">
            <div class="row center">
              <h5 class="header col s12 big_header left-align">Create paintings that get transformed into music</h5>
            </div>
          </div>
          <div class="small_header_container">
            <div class="row center">
              <h3 class="header col s12 small_header left-align">PitchPaint takes your drawings and transforms them into musical tracks based on your musical and artistic vision.</h3>
            </div>
          </div>
        </div>
        <div class="container">
       <!--
          <div class = "row center">
       
             <a href="" class="center waves-effect waves-light btn">learn how to use</a>
          </div>-->
        </div>
      </div>
      <div class="parallax"><img src="static/img/paint_background.jpeg"></div>
  
</template>


<template name="private">
  <div class="container">   
    <div class="text-center">
      <h1>This is private stuff!</h1>
    </div>
  </div>
</template>

<template name="pageNotFound">
  <div class="container">
    <h3>404 - Houston, we have a problem!!!</h3>
    <h5>The page you're looking for was not found.</h5>
  </div>
</template>

